/* C to the S to the S */

@font-face {
  font-family: "FontsFree-Net-Lulo-Clean-W01-One-Bold";
  src: url("FontsFree-Net-Lulo-Clean-W01-One-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Canela";
  src: url("Calena.ttf") format("truetype");
}



html {
  background: url('../images/lowres.jpg') no-repeat center center fixed;
  background-color: #ffffff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


* {
    margin: 0;
    padding: 0;

    -webkit-font-smoothing: antialiased;
}

body {
  font-family:"FontsFree-Net-Lulo-Clean-W01-One-Bold", sans-serif;
  font-weight: 300;
    color: #ffffff;

    letter-spacing: +0em;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

    .center {
      text-shadow:rgba(0, 0, 0, 0.298039) 0px 5px 0px;
      margin: 0;
      position: absolute;
      top: 43%;
      left: 52%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      font-size: 131px;
      letter-spacing: +0em;
    }
    .center0 {
      font-family:"Canela", sans-serif;
      margin: 0;
      position: absolute;
      top: 60%;
      left: 49%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      font-size: 46px;
      letter-spacing: +0.1em;
    }

    .rectangle {
      height : 50%;
  width: 100%;
  background-color: rgb(188, 227, 218);
}/* W3.CSS 4.15 December 2020 by Jan Egil and Borge Refsnes */

.move {
  position: absolute;
  min-height: 50%;
  width: 0%;
  background:rgb(188, 227, 218);
  -webkit-animation: right-to-left-div1 1s forwards;
  animation: right-to-left-div1 1s forwards;
}




@keyframes right-to-left-div1{
  to {
    width: 100%;
  }
}
