/* C to the S to the S */

@font-face {
  font-family: "FontsFree-Net-Lulo-Clean-W01-One-Bold";
  src: url("FontsFree-Net-Lulo-Clean-W01-One-Bold.ttf") format("truetype");
}
/*


@font-face {
  font-family: "Canela", sans-serif;
  src: url("Calena.ttc") format("truetype");
}
*/
@font-face {
  font-family: "HelveticaNeue Light", sans-serif;
  src: url("HelveticaNeue Light.ttf") format("truetype");
}

@font-face {font-family: "Canela"; src: url("//db.onlinewebfonts.com/t/3def92f7b2ad644bd382798ecc8ca4c7.eot"); src: url("//db.onlinewebfonts.com/t/3def92f7b2ad644bd382798ecc8ca4c7.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/3def92f7b2ad644bd382798ecc8ca4c7.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/3def92f7b2ad644bd382798ecc8ca4c7.woff") format("woff"), url("//db.onlinewebfonts.com/t/3def92f7b2ad644bd382798ecc8ca4c7.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/3def92f7b2ad644bd382798ecc8ca4c7.svg#Canela") format("svg"); }



html {
  background: url('../images/lowres.jpg') no-repeat center center fixed;
  background-color: rgb(188, 227, 218);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


* {
    margin: 0;
    padding: 0;

    -webkit-font-smoothing: antialiased;
}

body {

  font-weight: 300;
    color: #ffffff;

    letter-spacing: +0em;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

    .center {
      font-family:"Canela", sans-serif;
      text-shadow:rgba(0, 0, 0, 0.298039) 0px 3px 0px;
      margin: 0;
      position: absolute;
      top: 43%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      font-size: 131px;
      letter-spacing: +0.05em;
    }
    .center0 {
      white-space: nowrap;
  overflow: hidden;
      font-family:"HelveticaNeue Light","Canela", sans-serif;
      margin: 0;
      position: absolute;
      top: 70%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      font-size: 46px;
      letter-spacing: +0.1em;
    }

    .rectangle {
      height : 50%;
  width: 100%;
  background-color: rgb(188, 227, 218);
}/* W3.CSS 4.15 December 2020 by Jan Egil and Borge Refsnes */

.move {
  position: absolute;
  min-height: 50%;

  width: 50%;
  background:#ffffff;
  -webkit-animation: right-to-left-div1 1s forwards;
  animation: right-to-left-div1 1s forwards;
}
a {
  font-family:"FontsFree-Net-Lulo-Clean-W01-One-Bold", sans-serif;
  position: absolute;
  top: 80%;
  left: 49%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
    text-decoration: none;
    color: #111;
    font-weight: bold;
    background: #111;
    color: #fff;
    opacity: 0.7;
}

a:hover {
  opacity: 1;
    background: rgb(12, 60, 96);
    color: #fff;
}




@keyframes right-to-left-div1{
  to {
    width: 95%;
  }
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
}

form {
  max-width: 70%;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 100%;
}

@media screen and (min-width: 480px) {
  form {
    max-width: 700px;
  }
}


@media screen and (max-width: 800px) {
  .center {

    font-size: 60px;

  }

  .center0 {
top: 60%;
    font-size: 30px;

  }

  form {
    max-width: 480px;
  }
}
