@font-face {font-family: "Canela"; src: url("//db.onlinewebfonts.com/t/3def92f7b2ad644bd382798ecc8ca4c7.eot"); src: url("//db.onlinewebfonts.com/t/3def92f7b2ad644bd382798ecc8ca4c7.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/3def92f7b2ad644bd382798ecc8ca4c7.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/3def92f7b2ad644bd382798ecc8ca4c7.woff") format("woff"), url("//db.onlinewebfonts.com/t/3def92f7b2ad644bd382798ecc8ca4c7.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/3def92f7b2ad644bd382798ecc8ca4c7.svg#Canela") format("svg"); }


*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.container {
  font-size: 30px;
  position: relative;
  text-align: center;
  color: white;
  margin-bottom: 20px;
}
img{
  width: 100%;
    border-radius:8px;
}
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}
.flexbox{
  font-family:"Canela", sans-serif;
  position: absolute;
  left:0%;
  right: 0%;
  top: 2%;
}
option{
    font-family:"Canela", sans-serif;
}
body {
    background-color: rgb(188, 227, 218);
  color: #384047;
}

form {
  max-width: 70%;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius:8px;
}

h1 {
  margin: 30px 0 30px 0;
  text-align: center;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  font-family:"Canela", sans-serif;
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: rgb(239, 147, 83);
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  width: 100%;
  border: 1px solid rgb(239, 147, 83);
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 10px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 3px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 100%;
}

@media screen and (min-width: 480px) {
  form {
    max-width: 700px;
  }
}


@media screen and (max-width: 800px) {
  .center {

    font-size: 60px;

  }

  .center0 {
top: 60%;
    font-size: 30px;

  }

  form {
    max-width: 480px;
  }


}
