/* C to the S to the S */

@font-face {
  font-family: "FontsFree-Net-Lulo-Clean-W01-One-Bold";
  src: url("FontsFree-Net-Lulo-Clean-W01-One-Bold.ttf.ttf") format("truetype");
}
@font-face {
  font-display: block;
  font-family:"Lulo-Clean-W01-One-Bold";
  src:url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/0163ac22-50a7-406e-aa64-c62ee6fbf3d7.eot?#iefix");
  src:url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/0163ac22-50a7-406e-aa64-c62ee6fbf3d7.eot?#iefix") format("eot"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/aee74cb3-c913-4b54-9722-6001c92325f2.woff2") format("woff2"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/80de9d5d-ab5f-40ce-911b-104e51e93d7c.woff") format("woff"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/1b46b05b-cfdd-4d82-8c2f-5c6cfba1fe60.ttf") format("truetype"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/be340f0b-a2d4-41df-acb1-4dc124330a88.svg#be340f0b-a2d4-41df-acb1-4dc124330a88") format("svg");
}


html {
  background: url('../images/lowres.jpg') no-repeat center center fixed;
  background-color: rgb(188, 227, 218);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

* {
    margin: 0;
    padding: 0;

    -webkit-font-smoothing: antialiased;
}

body {
  font-family:"Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
    color: #ffffff;

    letter-spacing: +0.05em;
}


    .center {
      margin: 0;
      position: absolute;
      top: 43%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      font-size: 100px;
      letter-spacing: +0.1em;
    }
    .center0 {
      margin: 0;
      position: absolute;
      top: 53%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      font-size: 50px;
    }
